openapi: 3.0.0
info:
  title: Stripe API
  description: The Stripe REST API. Please see https://stripe.com/docs/api for more details.
  version: 2026-03-25.dahlia
servers:
- url: https://api.stripe.com/
paths:
  /v1/customer_sessions:
    post:
      summary: Create a Customer Session
      description: <p>Creates a Customer Session object that includes a single-use client secret that you can use on your front-end to grant client-side API access for certain customer resources.</p>
      operationId: PostCustomerSessions
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - components
              properties:
                components:
                  type: object
                  properties:
                    buy_button:
                      type: object
                      required:
                      - enabled
                      properties:
                        enabled:
                          type: boolean
                    customer_sheet:
                      type: object
                      required:
                      - enabled
                      properties:
                        features:
                          type: object
                          properties:
                            payment_method_remove:
                              type: string
                            payment_method_allow_redisplay_filters:
                              type: array
                              items:
                                type: string
                        enabled:
                          type: boolean
                    payment_element:
                      type: object
                      required:
                      - enabled
                      properties:
                        enabled:
                          type: boolean
                        features:
                          type: object
                          properties:
                            payment_method_allow_redisplay_filters:
                              type: array
                              items:
                                type: string
                            payment_method_remove:
                              type: string
                            payment_method_redisplay_limit:
                              type: integer
                            payment_method_save:
                              type: string
                            payment_method_redisplay:
                              type: string
                            payment_method_save_usage:
                              type: string
                    mobile_payment_element:
                      type: object
                      required:
                      - enabled
                      properties:
                        features:
                          type: object
                          properties:
                            payment_method_allow_redisplay_filters:
                              type: array
                              items:
                                type: string
                            payment_method_remove:
                              type: string
                            payment_method_save_allow_redisplay_override:
                              type: string
                            payment_method_redisplay:
                              type: string
                            payment_method_save:
                              type: string
                        enabled:
                          type: boolean
                    pricing_table:
                      type: object
                      required:
                      - enabled
                      properties:
                        enabled:
                          type: boolean
                  description: Configuration for each component. At least 1 component must be enabled.
                customer_account:
                  type: string
                  maxLength: 5000
                  description: The ID of an existing Account for which to create the Customer Session.
                expand:
                  type: array
                  items:
                    type: string
                    maxLength: 5000
                  description: Specifies which fields in the response should be expanded.
                customer:
                  type: string
                  maxLength: 5000
                  description: The ID of an existing customer for which to create the Customer Session.
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer_session'
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
components:
  schemas:
    payment_method_options_zip:
      type: object
      properties:
        setup_future_usage:
          type: string
          description: |-
            Indicates that you intend to make future payments with this PaymentIntent's payment method.

            If you provide a Customer with the PaymentIntent, you can use this parameter to [attach the payment method](/payments/save-during-payment) to the Customer after the PaymentIntent is confirmed and the customer completes any required actions. If you don't provide a Customer, you can still [attach](/api/payment_methods/attach) the payment method to a Customer after the transaction completes.

            If the payment method is `card_present` and isn't a digital wallet, Stripe creates and attaches a [generated_card](/api/charges/object#charge_object-payment_method_details-card_present-generated_card) payment method representing the card to the Customer instead.

            When processing card payments, Stripe uses `setup_future_usage` to help you comply with regional legislation and network rules, such as [SCA](/strong-customer-authentication).
      description: ''
    payments_primitives_payment_records_resource_payment_method_mobilepay_details_resource_card:
      type: object
      properties:
        country:
          type: string
          maxLength: 5000
          description: Two-letter ISO code representing the country of the card
        exp_month:
          type: integer
          description: Two digit number representing the card's expiration month
        brand:
          type: string
          maxLength: 5000
          description: Brand of the card used in the transaction
        last4:
          type: string
          maxLength: 5000
          description: The last 4 digits of the card
        exp_year:
          type: integer
          description: Two digit number representing the card's expiration year
      description: ''
    subscription_payment_method_options_card:
      type: object
      properties:
        network:
          type: string
          description: Selected network to process this Subscription on. Depends on the available networks of the card attached to the Subscription. Can be only set confirm-time.
        request_three_d_secure:
          type: string
          description: We strongly recommend that you rely on our SCA Engine to automatically prompt your customers for authentication based on risk level and [other requirements](https://docs.stripe.com/strong-customer-authentication). However, if you wish to request 3D Secure based on logic from your own fraud engine, provide this option. Read our guide on [manually requesting 3D Secure](https://docs.stripe.com/payments/3d-secure/authentication-flow#manual-three-ds) for more information on how this configuration interacts with Radar and our SCA Engine.
        mandate_options:
          $ref: '#/components/schemas/invoice_mandate_options_card'
      description: ''
    payment_method_kr_card:
      type: object
      properties:
        last4:
          type: string
          maxLength: 4
          description: The last four digits of the card. This may not be present for American Express cards.
        brand:
          type: string
          description: The local credit or debit card brand.
      description: ''
    invoices_resource_invoice_tax_id:
      type: object
      required:
      - type
      properties:
        value:
          type: string
          maxLength: 5000
          description: The value of the tax ID.
        type:
          type: string
          description: The type of the tax ID, one of `ad_nrt`, `ar_cuit`, `eu_vat`, `bo_tin`, `br_cnpj`, `br_cpf`, `cn_tin`, `co_nit`, `cr_tin`, `do_rcn`, `ec_ruc`, `eu_oss_vat`, `hr_oib`, `pe_ruc`, `ro_tin`, `rs_pib`, `sv_nit`, `uy_ruc`, `ve_rif`, `vn_tin`, `gb_vat`, `nz_gst`, `au_abn`, `au_arn`, `in_gst`, `no_vat`, `no_voec`, `za_vat`, `ch_vat`, `mx_rfc`, `sg_uen`, `ru_inn`, `ru_kpp`, `ca_bn`, `hk_br`, `es_cif`, `pl_nip`, `tw_vat`, `th_vat`, `jp_cn`, `jp_rn`, `jp_trn`, `li_uid`, `li_vat`, `lk_vat`, `my_itn`, `us_ein`, `kr_brn`, `ca_qst`, `ca_gst_hst`, `ca_pst_bc`, `ca_pst_mb`, `ca_pst_sk`, `my_sst`, `sg_gst`, `ae_trn`, `cl_tin`, `sa_vat`, `id_npwp`, `my_frp`, `il_vat`, `ge_vat`, `ua_vat`, `is_vat`, `bg_uic`, `hu_tin`, `si_tin`, `ke_pin`, `tr_tin`, `eg_tin`, `ph_tin`, `al_tin`, `bh_vat`, `kz_bin`, `ng_tin`, `om_vat`, `de_stn`, `ch_uid`, `tz_vat`, `uz_vat`, `uz_tin`, `md_vat`, `ma_vat`, `by_tin`, `ao_tin`, `bs_tin`, `bb_tin`, `cd_nif`, `mr_nif`, `me_pib`, `zw_tin`, `ba_tin`, `gn_nif`, `mk_vat`, `sr_fin`, `sn_ninea`, `am_tin`, `np_pan`, `tj_tin`, `ug_tin`, `zm_tin`, `kh_tin`, `aw_tin`, `az_tin`, `bd_bin`, `bj_ifu`, `et_tin`, `kg_tin`, `la_tin`, `cm_niu`, `cv_nif`, `bf_ifu`, or `unknown`
      description: ''
    payment_intent_payment_method_options_sepa_debit:
      type: object
      properties:
        setup_future_usage:
          type: string
          description: |-
            Indicates that you intend to make future payments with this PaymentIntent's payment method.

            If you provide a Customer with the PaymentIntent, you can use this parameter to [attach the payment method](/payments/save-during-payment) to the Customer after the PaymentIntent is confirmed and the customer completes any required actions. If you don't provide a Customer, you can still [attach](/api/payment_methods/attach) the payment method to a Customer after the transaction completes.

            If the payment method is `card_present` and isn't a digital wallet, Stripe creates and attaches a [generated_card](/api/charges/object#charge_object-payment_method_details-card_present-generated_card) payment method representing the card to the Customer instead.

            When processing card payments, Stripe uses `setup_future_usage` to help you comply with regional legislation and network rules, such as [SCA](/strong-customer-authentication).
        target_date:
          type: string
          maxLength: 5000
          description: Controls when Stripe will attempt to debit the funds from the customer's account. The date must be a string in YYYY-MM-DD format. The date must be in the future and between 3 and 15 calendar days from now.
        mandate_options:
          $ref: '#/components/schemas/payment_intent_payment_method_options_mandate_options_sepa_debit'
      description: ''
    billing_clocks_resource_status_details_advancing_status_details:
      type: object
      required:
      - target_frozen_time
      properties:
        target_frozen_time:
          type: integer
          description: The `frozen_time` that the Test Clock is advancing towards.
      description: ''
    payment_method_options_customer_balance_eu_bank_account:
      type: object
      required:
      - country
      properties:
        country:
          type: string
          description: 'The desired country code of the bank account information. Permitted values include: `DE`, `FR`, `IE`, or `NL`.'
      description: ''
    payment_method_options_multibanco:
      type: object
      properties:
        setup_future_usage:
          type: string
          description: |-
            Indicates that you intend to make future payments with this PaymentIntent's payment method.

            If you provide a Customer with the PaymentIntent, you can use this parameter to [attach the payment method](/payments/save-during-payment) to the Customer after the PaymentIntent is confirmed and the customer completes any required actions. If you don't provide a Customer, you can still [attach](/api/payment_methods/attach) the payment method to a Customer after the transaction completes.

            If the payment method is `card_present` and isn't a digital wallet, Stripe creates and attaches a [generated_card](/api/charges/object#charge_object-payment_method_details-card_present-generated_card) payment method representing the card to the Customer instead.

            When processing card payments, Stripe uses `setup_future_usage` to help you comply with regional legislation and network rules, such as [SCA](/strong-customer-authentication).
      description: ''
    billing_credit_grants_resource_balance_credit:
      type: object
      required:
      - amount
      - type
      properties:
        type:
          type: string
          description: The type of credit transaction.
        amount:
          $ref: '#/components/schemas/billing_credit_grants_resource_amount'
        credits_application_invoice_voided:
          anyOf:
          - $ref: '#/components/schemas/billing_credit_grants_resource_balance_credits_application_invoice_voided'
          description: Details of the invoice to which the reinstated credits were originally applied. Only present if `type` is `credits_application_invoice_voided`.
      description: ''
    payment_intent_type_specific_payment_method_options_client:
      type: object
      properties:
        routing:
          $ref: '#/components/schemas/payment_method_options_card_present_routing'
        capture_method:
          type: string
          description: Controls when the funds will be captured from the customer's account.
        mandate_options:
          $ref: '#/components/schemas/payment_intent_payment_method_options_mandate_options_payto'
        verification_method:
          type: string
          description: Bank account verification method. The default value is `automatic`.
        request_incremental_authorization_support:
          type: boolean
          description: Request ability to [increment](https://docs.stripe.com/terminal/features/incremental-authorizations) this PaymentIntent if the combination of MCC and card brand is eligible. Check [incremental_authorization_supported](https://docs.stripe.com/api/charges/object#charge_object-payment_method_details-card_present-incremental_authorization_supported) in the [Confirm](https://docs.stripe.com/api/payment_intents/confirm) response to verify support.
        setup_future_usage:
          type: string
          description: |-
            Indicates that you intend to make future payments with this PaymentIntent's payment method.

            If you provide a Customer with the PaymentIntent, you can use this parameter to [attach the payment method](/payments/save-during-payment) to the Customer after the PaymentIntent is confirmed and the customer completes any required actions. If you don't provide a Customer, you can still [attach](/api/payment_methods/attach) the payment method to a Customer after the transaction completes.

            If the payment method is `card_present` and isn't a digital wallet, Stripe creates and attaches a [generated_card](/api/charges/object#charge_object-payment_method_details-card_present-generated_card) payment method representing the card to the Customer instead.

            When processing card payments, Stripe uses `setup_future_usage` to help you comply with regional legislation and network rules, such as [SCA](/strong-customer-authentication).
        require_cvc_recollection:
          type: boolean
          description: When enabled, using a card that is attached to a customer will require the CVC to be provided again (i.e. using the cvc_token parameter).
        installments:
          $ref: '#/components/schemas/payment_flows_installment_options'
      description: ''
    invoices_resource_status_transitions:
      type: object
      properties:
        finalized_at:
          type: integer
          description: The time that the invoice draft was finalized.
        marked_uncollectible_at:
          type: integer
          description: The time that the invoice was marked uncollectible.
        paid_at:
          type: integer
          description: The time that the invoice was paid.
        voided_at:
          type: integer
          description: The time that the invoice was voided.
      description: ''
    payment_method_details_ach_debit:
      type: object
      properties:
        routing_number:
          type: string
          maxLength: 5000
          description: Routing transit number of the bank account.
        account_holder_type:
          type: string
          description: Type of entity that holds the account. This can be either `individual` or `company`.
        bank_name:
          type: string
          maxLength: 5000
          description: Name of the bank associated with the bank account.
        fingerprint:
          type: string
          maxLength: 5000
          description: Uniquely identifies this particular bank account. You can use this attribute to check whether two bank accounts are the same.
        last4:
          type: string
          maxLength: 5000
          description: Last four digits of the bank account number.
        country:
          type: string
          maxLength: 5000
          description: Two-letter ISO code representing the country the bank account is located in.
      description: ''
    account_invoices_settings:
      type: object
      properties:
        default_account_tax_ids:
          type: array
          items:
            anyOf:
            - type: string
              maxLength: 5000
            - $ref: '#/components/schemas/tax_id'
          description: The list of default Account Tax IDs to automatically include on invoices. Account Tax IDs get added when an invoice is finalized.
        hosted_payment_method_save:
          type: string
          description: Whether to save the payment method after a payment is completed for a one-time invoice or a subscription invoice when the customer already has a default payment method on the hosted invoice page.
      description: ''
    account_tos_acceptance:
      type: object
      properties:
        date:
          type: integer
          description: The Unix timestamp marking when the account representative accepted their service agreement
        service_agreement:
          type: string
          maxLength: 5000
          description: The user's service agreement type
        user_agent:
          type: string
          maxLength: 5000
          description: The user agent of the browser from which the account representative accepted their service agreement
        ip:
          type: string
          maxLength: 5000
          description: The IP address from which the account representative accepted their service agreement
      description: ''
    payment_method_options_giropay:
      type: object
      properties:
        setup_future_usage:
          type: string
          description: |-
            Indicates that you intend to make future payments with this PaymentIntent's payment method.

            If you provide a Customer with the PaymentIntent, you can use this parameter to [attach the payment method](/payments/save-during-payment) to the Customer after the PaymentIntent is confirmed and the customer completes any required actions. If you don't provide a Customer, you can still [attach](/api/payment_methods/attach) the payment method to a Customer after the transaction completes.

            If the payment method is `card_present` and isn't a digital wallet, Stripe creates and attaches a [generated_card](/api/charges/object#charge_object-payment_method_details-card_present-generated_card) payment method representing the card to the Customer instead.

            When processing card payments, Stripe uses `setup_future_usage` to help you comply with regional legislation and network rules, such as [SCA](/strong-customer-authentication).
      description: ''
    invoice_mandate_options_payto:
      type: object
      properties:
        purpose:
          type: string
          description: The purpose for which payments are made. Has a default value based on your merchant category code.
        amount:
          type: integer
          description: The maximum amount that can be collected in a single invoice. If you don't specify a maximum, then there is no limit.
        amount_type:
          type: string
          description: Only `maximum` is supported.
      description: ''
    payout:
      type: object
      required:
      - amount
      - arrival_date
      - automatic
      - created
      - currency
      - id
      - livemode
      - method
      - object
      - reconciliation_status
      - source_type
      - status
      - type
      properties:
        trace_id:
          anyOf:
          - $ref: '#/components/schemas/payouts_trace_id'
          description: A value that generates from the beneficiary's bank that allows users to track payouts with their bank. Banks might call this a "reference number" or something similar.
        automatic:
          type: boolean
          description: Returns `true` if the payout is created by an [automated payout schedule](https://docs.stripe.com/payouts#payout-schedule) and `false` if it's [requested manually](https://stripe.com/docs/payouts#manual-payouts).
        balance_transaction:
          anyOf:
          - type: string
            maxLength: 5000
          - $ref: '#/components/schemas/balance_transaction'
          description: ID of the balance transaction that describes the impact of this payout on your account balance.
        currency:
          type: string
          description: Three-letter [ISO currency code](https://www.iso.org/iso-4217-currency-codes.html), in lowercase. Must be a [supported currency](https://stripe.com/docs/currencies).
        amount:
          type: integer
          description: The amount (in cents (or local equivalent)) that transfers to your bank account or debit card.
        failure_balance_transaction:
          anyOf:
          - type: string
            maxLength: 5000
          - $ref: '#/components/schemas/balance_transaction'
          description: If the payout fails or cancels, this is the ID of the balance transaction that reverses the initial balance transaction and returns the funds from the failed payout back in your balance.
        id:
          type: string
          maxLength: 5000
          description: Unique identifier for the object.
        livemode:
          type: boolean
          description: If the object exists in live mode, the value is `true`. If the object exists in test mode, the value is `false`.
        payout_method:
          type: string
          maxLength: 5000
          description: ID of the v2 FinancialAccount the funds are sent to.
        method:
          type: string
          maxLength: 5000
          description: The method used to send this payout, which can be `standard` or `instant`. `instant` is supported for payouts to debit cards and bank accounts in certain countries. Learn more about [bank support for Instant Payouts](https://stripe.com/docs/payouts/instant-payouts-banks).
        destination:
          anyOf:
          - type: string
            maxLength: 5000
          - $ref: '#/components/schemas/bank_account'
          - $ref: '#/components/schemas/card'
          - $ref: '#/components/schemas/deleted_bank_account'
          - $ref: '#/components/schemas/deleted_card'
          description: ID of the bank account or card the payout is sent to.
        reversed_by:
          anyOf:
          - type: string
            maxLength: 5000
          - $ref: '#/components/schemas/payout'
          description: If the payout reverses, this is the ID of the payout that reverses this payout.
        type:
          type: string
          description: Can be `bank_account` or `card`.
        failure_message:
          type: string
          maxLength: 5000
          description: Message that provides the reason for a payout failure, if available.
        reconciliation_status:
          type: string
          description: If `completed`, you can use the [Balance Transactions API](https://docs.stripe.com/api/balance_transactions/list#balance_transaction_list-payout) to list all balance transactions that are paid out in this payout.
        description:
          type: string
          maxLength: 5000
          description: An arbitrary string attached to the object. Often useful for displaying to users.
        application_fee_amount:
          type: integer
          description: The amount of the application fee (if any) requested for the payout. [See the Connect documentation](https://docs.stripe.com/connect/instant-payouts#monetization-and-fees) for details.
        created:
          type: integer
          description: Time at which the object was created. Measured in seconds since the Unix epoch.
        failure_code:
          type: string
          maxLength: 5000
          description: Error code that provides a reason for a payout failure, if available. View our [list of failure codes](https://docs.stripe.com/api#payout_failures).
        metadata:
          type: object
          description: Set of [key-value pairs](https://docs.stripe.com/api/metadata) that you can attach to an object. This can be useful for storing additional information about the object in a structured format.
        object:
          type: string
          description: String representing the object's type. Objects of the same type share the same value.
        application_fee:
          anyOf:
          - type: string
            maxLength: 5000
          - $ref: '#/components/schemas/application_fee'
          description: The application fee (if any) for the payout. [See the Connect documentation](https://docs.stripe.com/connect/instant-payouts#monetization-and-fees) for details.
        original_payout:
          anyOf:
          - type: string
            maxLength: 5000
          - $ref: '#/components/schemas/payout'
          description: If the payout reverses another, this is the ID of the original payout.
        source_type:
          type: string
          maxLength: 5000
          description: 'The source balance this payout came from, which can be one of the following: `card`, `fpx`, or `bank_account`.'
        arrival_date:
          type: integer
          description: Date that you can expect the payout to arrive in the bank. This factors in delays to account for weekends or bank holidays.
        statement_descriptor:
          type: string
          maxLength: 5000
          description: Extra information about a payout that displays on the user's bank statement.
        status:
          type: string
          maxLength: 5000
          description: 'Current status of the payout: `paid`, `pending`, `in_transit`, `canceled` or `failed`. A payout is `pending` until it''s submitted to the bank, when it becomes `in_transit`. The status changes to `paid` if the transaction succeeds, or to `failed` or `canceled` (within 5 business days). Some payouts that fail might initially show as `paid`, then change to `failed`.'
      description: |-
        A `Payout` object is created when you receive funds from Stripe, or when you
        initiate a payout to either a bank account or debit card of a [connected
        Stripe account](/docs/connect/bank-debit-card-payouts). You can retrieve individual payouts,
        and list all payouts. Payouts are made on [varying
        schedules](/docs/connect/manage-payout-schedule), depending on your country and
        industry.

        Related guide: [Receiving payouts](https://docs.stripe.com/payouts)
    payment_intent_payment_method_options_card:
      type: object
      properties:
        request_overcapture:
          type: string
          description: Request ability to [overcapture](https://docs.stripe.com/payments/overcapture) for this PaymentIntent.
        request_three_d_secure:
          type: string
          description: We strongly recommend that you rely on our SCA Engine to automatically prompt your customers for authentication based on risk level and [other requirements](https://docs.stripe.com/strong-customer-authentication). However, if you wish to request 3D Secure based on logic from your own fraud engine, provide this option. If not provided, this value defaults to `automatic`. Read our guide on [manually requesting 3D Secure](https://docs.stripe.com/payments/3d-secure/authentication-flow#manual-three-ds) for more information on how this configuration interacts with Radar and our SCA Engine.
        capture_method:
          type: string
          description: Controls when the funds will be captured from the customer's account.
        require_cvc_recollection:
          type: boolean
          description: When enabled, using a card that is attached to a customer will require the CVC to be provided again (i.e. using the cvc_token parameter).
        installments:
          anyOf:
          - $ref: '#/components/schemas/payment_method_options_card_installments'
          description: |-
            Installment details for this payment.

            For more information, see the [installments integration guide](https://docs.stripe.com/payments/installments).
        statement_descriptor_suffix_kana:
          type: string
          maxLength: 5000
          description: Provides information about a card payment that customers see on their statements. Concatenated with the Kana prefix (shortened Kana descriptor) or Kana statement descriptor that’s set on the account to form the complete statement descriptor. Maximum 22 characters. On card statements, the *concatenation* of both prefix and suffix (including separators) will appear truncated to 22 characters.
        network:
          type: string
          description: Selected network to process this payment intent on. Depends on the available networks of the card attached to the payment intent. Can be only set confirm-time.
        request_multicapture:
          type: string
          description: Request ability to make [multiple captures](https://docs.stripe.com/payments/multicapture) for this PaymentIntent.
        setup_future_usage:
          type: string
          description: |-
            Indicates that you intend to make future payments with this PaymentIntent's payment method.

            If you provide a Customer with the PaymentIntent, you can use this parameter to [attach the payment method](/payments/save-during-payment) to the Customer after the PaymentIntent is confirmed and the customer completes any required actions. If you don't provide a Customer, you can still [attach](/api/payment_methods/attach) the payment method to a Customer after the transaction completes.

            If the payment method is `card_present` and isn't a digital wallet, Stripe creates and attaches a [generated_card](/api/charges/object#charge_object-payment_method_details-card_present-generated_card) payment method representing the card to the Customer instead.

            When processing card payments, Stripe uses `setup_future_usage` to help you comply with regional legislation and network rules, such as [SCA](/strong-customer-authentication).
        mandate_options:
          anyOf:
          - $ref: '#/components/schemas/payment_method_options_card_mandate_options'
          description: Configuration options for setting up an eMandate for cards issued in India.
        statement_descriptor_suffix_kanji:
          type: string
          maxLength: 5000
          description: Provides information about a card payment that customers see on their statements. Concatenated with the Kanji prefix (shortened Kanji descriptor) or Kanji statement descriptor that’s set on the account to form the complete statement descriptor. Maximum 17 characters. On card statements, the *concatenation* of both prefix and suffix (including separators) will appear truncated to 17 characters.
        request_incremental_authorization:
          type: string
          description: Request ability to [increment the authorization](https://docs.stripe.com/payments/incremental-authorization) for this PaymentIntent.
        request_extended_authorization:
          type: string
          description: Request ability to [capture beyond the standard authorization validity window](https://docs.stripe.com/payments/extended-authorization) for this PaymentIntent.
      description: ''
    payment_method_options_satispay:
      type: object
      properties:
        capture_method:
          type: string
          description: Controls when the funds will be captured from the customer's account.
      description: ''
    payment_method_details_card_wallet_amex_express_checkout:
      type: object
      properties: {}
      description: ''
    payment_method_details_promptpay:
      type: object
      properties:
        reference:
          type: string
          maxLength: 5000
          description: Bill reference generated by PromptPay
      description: ''
    customer:
      type: object
      required:
      - created
      - id
      - livemode
      - object
      properties:
        invoice_credit_balance:
          type: object
          description: The current multi-currency balances, if any, that's stored on the customer. If positive in a currency, the customer has a credit to apply to their next invoice denominated in that currency. If negative, the customer has an amount owed that's added to their next invoice denominated in that currency. These balances don't apply to unpaid invoices. They solely track amounts that Stripe hasn't successfully applied to any invoice. Stripe only applies a balance in a specific currency to an invoice after that invoice (which is in the same currency) finalizes.
        tax_ids:
          type: object
          required:
          - data
          - has_more
          - object
          - url
          properties:
            object:
              type: string
              description: String representing the object's type. Objects of the same type share the same value. Always has the value `list`.
            has_more:
              type: boolean
              description: True if this list has another page of items after this one that can be fetched.
            url:
              type: string
              maxLength: 5000
              description: The URL where this list can be accessed.
            data:
              type: array
              items:
                $ref: '#/components/schemas/tax_id'
              description: Details about each object.
          description: The customer's tax IDs.
        invoice_settings:
          $ref: '#/components/schemas/invoice_setting_customer_setting'
        cash_balance:
          anyOf:
          - $ref: '#/components/schemas/cash_balance'
          description: The current funds being held by Stripe on behalf of the customer. You can apply these funds towards payment intents when the source is "cash_balance". The `settings[reconciliation_mode]` field describes if these funds apply to these payment intents manually or automatically.
        description:
          type: string
          maxLength: 5000
          description: An arbitrary string attached to the object. Often useful for displaying to users.
        livemode:
          type: boolean
          description: If the object exists in live mode, the value is `true`. If the object exists in test mode, the value is `false`.
        tax_exempt:
          type: string
          description: 'Describes the customer''s tax exemption status, which is `none`, `exempt`, or `reverse`. When set to `reverse`, invoice and receipt PDFs include the following text: **"Reverse charge"**.'
        preferred_locales:
          type: array
          items:
            type: string
            maxLength: 5000
          description: The customer's preferred locales (languages), ordered by preference.
        address:
          anyOf:
          - $ref: '#/components/schemas/address'
          description: The customer's address.
        individual_name:
          type: string
          maxLength: 150
          description: The customer's individual name.
        subscriptions:
          type: object
          required:
          - data
          - has_more
          - object
          - url
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/subscription'
              description: Details about each object.
            object:
              type: string
              description: String representing the object's type. Objects of the same type share the same value. Always has the value `list`.
            has_more:
              type: boolean
              description: True if this list has another page of items after this one that can be fetched.
            url:
              type: string
              maxLength: 5000
              description: The URL where this list can be accessed.
          description: The customer's current subscriptions, if any.
        balance:
          type: integer
          description: The current balance, if any, that's stored on the customer in their default currency. If negative, the customer has credit to apply to their next invoice. If positive, the customer has an amount owed that's added to their next invoice. The balance only considers amounts that Stripe hasn't successfully applied to any invoice. It doesn't reflect unpaid invoices. This balance is only taken into account after invoices finalize. For multi-currency balances, see [invoice_credit_balance](https://docs.stripe.com/api/customers/object#customer_object-invoice_credit_balance).
        phone:
          type: string
          maxLength: 5000
          description: The customer's phone number.
        created:
          type: integer
          description: Time at which the object was created. Measured in seconds since the Unix epoch.
        metadata:
          type: object
          description: Set of [key-value pairs](https://docs.stripe.com/api/metadata) that you can attach to an object. This can be useful for storing additional information about the object in a structured format.
        tax:
          $ref: '#/components/schemas/customer_tax'
        test_clock:
          anyOf:
          - type: string
            maxLength: 5000
          - $ref: '#/components/schemas/test_helpers.test_clock'
          description: ID of the test clock that this customer belongs to.
        object:
          type: string
          description: String representing the object's type. Objects of the same type share the same value.
        default_source:
          anyOf:
          - type: string
            maxLength: 5000
          - $ref: '#/components/schemas/bank_account'
          - $ref: '#/components/schemas/card'
          - $ref: '#/components/schemas/source'
          description: |-
            ID of the default payment source for the customer.

            If you use payment methods created through the PaymentMethods API, see the [invoice_settings.default_payment_method](https://docs.stripe.com/api/customers/object#customer_object-invoice_settings-default_payment_method) field instead.
        business_name:
          type: string
          maxLength: 150
          description: The customer's business name.
        name:
          type: string
          maxLength: 5000
          description: The customer's full name or business name.
        email:
          type: string
          maxLength: 5000
          description: The customer's email address.
        customer_account:
          type: string
          maxLength: 5000
          description: The ID of an Account representing a customer. You can use this ID with any v1 API that accepts a customer_account parameter.
        id:
          type: string
          maxLength: 5000
          description: Unique identifier for the object.
        currency:
          type: string
          maxLength: 5000
          description: Three-letter [ISO code for the currency](https://stripe.com/docs/currencies) the customer can be charged in for recurring billing purposes.
        sources:
          type: object
          required:
          - data
          - has_more
          - object
          - url
          properties:
            url:
              type: string
              maxLength: 5000
              description: The URL where this list can be accessed.
            data:
              type: array
              items:
                anyOf:
                - $ref: '#/components/schemas/bank_account'
                - $ref: '#/components/schemas/card'
                - $ref: '#/components/schemas/source'
              description: Details about each object.
            has_more:
              type: boolean
              description: True if this list has another page of items after this one that can be fetched.
            object:
              type: string
              description: String representing the object's type. Objects of the same type share the same value. Always has the value `list`.
          description: The customer's payment sources, if any.
        delinquent:
          type: boolean
          description: |-
            Tracks the most recent state change on any invoice belonging to the customer. Paying an invoice or marking it uncollectible via the API will set this field to false. An automatic payment failure or passing the `invoice.due_date` will set this field to `true`.

            If an invoice becomes uncollectible by [dunning](https://docs.stripe.com/billing/automatic-collection), `delinquent` doesn't reset to `false`.

            If you care whether the customer has paid their most recent subscription invoice, use `subscription.status` instead. Paying or marking uncollectible any customer invoice regardless of whether it is the latest invoice for a subscription will always set this field to `false`.
        next_invoice_sequence:
          type: integer
          description: The suffix of the customer's next invoice number (for example, 0001). When the account uses account level sequencing, this parameter is ignored in API requests and the field omitted in API responses.
        shipping:
          anyOf:
          - $ref: '#/components/schemas/shipping'
          description: Mailing and shipping address for the customer. Appears on invoices emailed to this customer.
        invoice_prefix:
          type: string
          maxLength: 5000
          description: The prefix for the customer used to generate unique invoice numbers.
        discount:
          anyOf:
          - $ref: '#/components/schemas/discount'
          description: Describes the current discount active on the customer, if there is one.
      description: |-
        This object represents a customer of your business. Use it to [create recurring charges](https://docs.stripe.com/invoicing/customer), [save payment](https://docs.stripe.com/payments/save-during-payment) and contact information,
        and track payments that belong to the same customer.
    setup_intent_type_specific_payment_method_options_client:
      type: object
      properties:
        verification_method:
          type: string
          description: Bank account verification method. The default value is `automatic`.
        mandate_options:
          $ref: '#/components/schemas/setup_intent_payment_method_options_mandate_options_payto'
      description: ''
    refund_destination_details_us_bank_transfer:
      type: object
      properties:
        reference_status:
          type: string
          maxLength: 5000
          description: Status of the reference on the refund. This can be `pending`, `available` or `unavailable`.
        reference:
          type: string
          maxLength: 5000
          description: The reference assigned to the refund.
      description: ''
    price_tier:
      type: object
      properties:
        unit_amount:
          type: integer
          description: Per unit price for units relevant to the tier.
        flat_amount:
          type: integer
          description: Price for the entire tier.
        up_to:
          type: integer
          description: Up to and including to this quantity will be contained in the tier.
        unit_amount_decimal:
          type: string
          description: Same as `unit_amount`, but contains a decimal value with at most 12 decimal places.
        flat_amount_decimal:
          type: string
          description: Same as `flat_amount`, but contains a decimal value with at most 12 decimal places.
      description: ''
    payments_primitives_payment_records_resource_billing_details:
      type: object
      required:
      - address
      properties:
        email:
          type: string
          maxLength: 5000
          description: The billing email associated with the method of payment.
        phone:
          type: string
          maxLength: 5000
          description: The billing phone number associated with the method of payment.
        name:
          type: string
          maxLength: 5000
          description: The billing name associated with the method of payment.
        address:
          $ref: '#/components/schemas/payments_primitives_payment_records_resource_address'
      description: Billing details used by the customer for this payment.
    legal_entity_person_verification_document:
      type: object
      properties:
        back:
          anyOf:
          - type: string
            maxLength: 5000
          - $ref: '#/components/schemas/file'
          description: The back of an ID returned by a [file upload](https://api.stripe.com#create_file) with a `purpose` value of `identity_document`.
        details:
          type: string
          maxLength: 5000
          description: A user-displayable string describing the verification state of this document. For example, if a document is uploaded and the picture is too fuzzy, this may say "Identity document is too unclear to read".
        front:
          anyOf:
          - type: string
            maxLength: 5000
          - $ref: '#/components/schemas/file'
          description: The front of an ID returned by a [file upload](https://api.stripe.com#create_file) with a `purpose` value of `identity_document`.
        details_code:
          type: string
          maxLength: 5000
          description: One of `document_corrupt`, `document_country_not_supported`, `document_expired`, `document_failed_copy`, `document_failed_other`, `document_failed_test_mode`, `document_fraudulent`, `document_failed_greyscale`, `document_incomplete`, `document_invalid`, `document_manipulated`, `document_missing_back`, `document_missing_front`, `document_not_readable`, `document_not_uploaded`, `document_photo_mismatch`, `document_too_large`, or `document_type_not_supported`. A machine-readable code specifying the verification state for this document.
      description: ''
    amazon_pay_underlying_payment_method_funding_details:
      type: object
      properties:
        type:
          type: string
          description: funding type of the underlying payment method.
        card:
          $ref: '#/components/schemas/payment_method_details_passthrough_card'
      description: ''
    subscription_schedules_resource_default_settings_automatic_tax:
      type: object
      required:
      - enabled
      properties:
        enabled:
          type: boolean
          description: Whether Stripe automatically computes tax on invoices created during this phase.
        liability:
          anyOf:
          - $ref: '#/components/schemas/connect_account_reference'
          description: The account that's liable for tax. If set, the business address and tax registrations required to perform the tax calculation are loaded from this account. The tax transaction is returned in the report of the connected account.
        disabled_reason:
          type: string
          description: If Stripe disabled automatic tax, this enum describes why.
      description: ''
    billing_bill_resource_invoicing_lines_common_credited_items:
      type: object
      required:
      - invoice
      - invoice_line_items
      properties:
        invoice:
          type: string
          maxLength: 5000
          description: Invoice containing the credited invoice line items
        invoice_line_items:
          type: array
          items:
            type: string
            maxLength: 5000
          description: Credited invoice line items
      description: ''
    issuing_network_token_visa:
      type: object
      required:
      - token_reference_id
      - token_requestor_id
      properties:
        card_reference_id:
          type: string
          maxLength: 5000
          description: A unique reference ID from Visa to represent the card account number.
        token_reference_id:
          type: string
          maxLength: 5000
          description: The network-unique identifier for the token.
        token_risk_score:
          type: string
          maxLength: 5000
          description: Degree of risk associated with the token between `01` and `99`, with higher number indicating higher risk. A `00` value indicates the token was not scored by Visa.
        token_requestor_id:
          type: string
          maxLength: 5000
          description: The ID of the entity requesting tokenization, specific to Visa.
      description: ''
    payment_intent_next_action_swish_qr_code:
      type: object
      required:
      - data
      - image_url_png
      - image_url_svg
      properties:
        image_url_svg:
          type: string
          maxLength: 5000
          description: The image_url_svg string used to render QR code
        image_url_png:
          type: string
          maxLength: 5000
          description: The image_url_png string used to render QR code
        data:
          type: string
          maxLength: 5000
          description: The raw data string used to generate QR code, it should be used together with QR code library.
      description: ''
    issuing_dispute_service_not_as_described_evidence:
      type: object
      properties:
        explanation:
          type: string
          maxLength: 5000
          description: Explanation of why the cardholder is disputing this transaction.
        additional_documentation:
          anyOf:
          - type: string
            maxLength: 5000
          - $ref: '#/components/schemas/file'
          description: (ID of a [file upload](https://stripe.com/docs/guides/file-upload)) Additional documentation supporting the dispute.
        canceled_at:
          type: integer
          description: Date when order was canceled.
        cancellation_reason:
          type: string
          maxLength: 5000
          description: Reason for canceling the order.
        received_at:
          type: integer
          description: Date when the product was received.
      description: ''
    payment_intent_payment_method_options_payto:
      type: object
      properties:
        setup_future_usage:
          type: string
          description: |-
            Indicates that you intend to make future payments with this PaymentIntent's payment method.

            If you provide a Customer with the PaymentIntent, you can use this parameter to [attach the payment method](/payments/save-during-payment) to the Customer after the PaymentIntent is confirmed and the customer completes any required actions. If you don't provide a Customer, you can still [attach](/api/payment_methods/attach) the payment method to a Customer after the transaction completes.

            If the payment method is `card_present` and isn't a digital wallet, Stripe creates and attaches a [generated_card](/api/charges/object#charge_object-payment_method_details-card_present-generated_card) payment method representing the card to the Customer instead.

            When processing card payments, Stripe uses `setup_future_usage` to help you comply with regional legislation and network rules, such as [SCA](/strong-customer-authentication).
        mandate_options:
          $ref: '#/components/schemas/payment_intent_payment_method_options_mandate_options_payto'
      description: ''
    payment_method_card_present_networks:
      type: object
      required:
      - available
      properties:
        available:
          type: array
          items:
            type: string
            maxLength: 5000
          description: All networks available for selection via [payment_method_options.card.network](/api/payment_intents/confirm#confirm_payment_intent-payment_method_options-card-network).
        preferred:
          type: string
          maxLength: 5000
          description: The preferred network for the card.
      description: ''
    payment_method_options_pay_by_bank:
      type: object
      properties: {}
      description: ''
    legal_entity_person_verification:
      type: object
      required:
      - status
      properties:
        document:
          $ref: '#/components/schemas/legal_entity_person_verification_document'
        details:
          type: string
          maxLength: 5000
          description: A user-displayable string describing the verification state for the person. For example, this may say "Provided identity information could not be verified".
        additional_document:
          anyOf:
          - $ref: '#/components/schemas/legal_entity_person_verification_document'
          description: A document showing address, either a passport, local ID card, or utility bill from a well-known utility company.
        details_code:
          type: string
          maxLength: 5000
          description: One of `document_address_mismatch`, `document_dob_mismatch`, `document_duplicate_type`, `document_id_number_mismatch`, `document_name_mismatch`, `document_nationality_mismatch`, `failed_keyed_identity`, or `failed_other`. A machine-readable code specifying the verification state for the person.
        status:
          type: string
          maxLength: 5000
          description: The state of verification for the person. Possible values are `unverified`, `pending`, or `verified`. Please refer [guide](https://docs.stripe.com/connect/handling-api-verification) to handle verification updates.
      description: ''
    account_treasury_settings:
      type: object
      properties:
        tos_acceptance:
          $ref: '#/components/schemas/account_terms_of_service'
      description: ''
    discount:
      type: object
      required:
      - id
      - object
      - source
      - start
      properties:
        end:
          type: integer
          description: If the coupon has a duration of `repeating`, the date that this discount will end. If the coupon has a duration of `once` or `forever`, this attribute will be null.
        subscription_item:
          type: string
          maxLength: 5000
          description: The subscription item that this coupon is applied to, if it is applied to a particular subscription item.
        promotion_code:
          anyOf:
          - type: string
            maxLength: 5000
          - $ref: '#/components/schemas/promotion_code'
          description: The promotion code applied to create this discount.
        invoice:
          type: string
          maxLength: 5000
          description: The invoice that the discount's coupon was applied to, if it was applied directly to a particular invoice.
        customer_account:
          type: string
          maxLength: 5000
          description: The ID of the account representing the customer associated with this discount.
        start:
          type: integer
          description: Date that the coupon was applied.
        invoice_item:
          type: string
          maxLength: 5000
          description: The invoice item `id` (or invoice line item `id` for invoice line items of type='subscription') that the discount's coupon was applied to, if it was applied directly to a particular invoice item or invoice line item.
        subscription:
          type: string
          maxLength: 5000
          description: The subscription that this coupon is applied to, if it is applied to a particular subscription.
        customer:
          anyOf:
          - type: string
            maxLength: 5000
          - $ref: '#/components/schemas/customer'
          - $ref: '#/components/schemas/deleted_customer'
          description: The ID of the customer associated with this discount.
        source:
          $ref: '#/components/schemas/discount_source'
        checkout_session:
          type: string
          maxLength: 5000
          description: The Checkout session that this coupon is applied to, if it is applied to a particular session in payment mode. Will not be present for subscription mode.
        id:
          type: string
          maxLength: 5000
          description: The ID of the discount object. Discounts cannot be fetched by ID. Use `expand[]=discounts` in API calls to expand discount IDs in an array.
        object:
          type: string
          description: String representing the object's type. Objects of the same type share the same value.
      description: |-
        A discount represents the actual application of a [coupon](https://api.stripe.com#coupons) or [promotion code](https://api.stripe.com#promotion_codes).
        It contains information about when the discount began, when it will end, and what it is applied to.

        Related guide: [Applying discounts to subscriptions](https://docs.stripe.com/billing/subscriptions/discounts)
    payment_method_details_wechat:
      type: object
      properties: {}
      description: ''
    payment_intent_next_action_konbini:
      type: object
      required:
      - expires_at
      - stores
      properties:
        stores:
          $ref: '#/components/schemas/payment_intent_next_action_konbini_stores'
        expires_at:
          type: integer
          description: The timestamp at which the pending Konbini payment expires.
        hosted_voucher_url:
          type: string
          maxLength: 5000
          description: The URL for the Konbini payment instructions page, which allows customers to view and print a Konbini voucher.
      description: ''
    setup_intent_payment_method_options_card:
      type: object
      properties:
        request_three_d_secure:
          type: string
          description: We strongly recommend that you rely on our SCA Engine to automatically prompt your customers for authentication based on risk level and [other requirements](https://docs.stripe.com/strong-customer-authentication). However, if you wish to request 3D Secure based on logic from your own fraud engine, provide this option. If not provided, this value defaults to `automatic`. Read our guide on [manually requesting 3D Secure](https://docs.stripe.com/payments/3d-secure/authentication-flow#manual-three-ds) for more information on how this configuration interacts with Radar and our SCA Engine.
        network:
          type: string
          description: Selected network to process this SetupIntent on. Depends on the available networks of the card attached to the setup intent. Can be only set confirm-time.
        mandate_options:
          anyOf:
          - $ref: '#/components/schemas/setup_intent_payment_method_options_card_mandate_options'
          description: Configuration options for setting up an eMandate for cards issued in India.
      description: ''
    billing_credit_grants_resource_monetary_amount:
      type: object
      required:
      - currency
      - value
      properties:
        currency:
          type: string
          maxLength: 5000
          description: Three-letter [ISO currency code](https://www.iso.org/iso-4217-currency-codes.html), in lowercase. Must be a [supported currency](https://stripe.com/docs/currencies).
        value:
          type: integer
          description: A positive integer representing the amount.
      description: ''
    issuing_authorization_pending_request:
      type: object
      required:
      - amount
      - currency
      - is_amount_controllable
      - merchant_amount
      - merchant_currency
      properties:
        currency:
          type: string
          description: Three-letter [ISO currency code](https://www.iso.org/iso-4217-currency-codes.html), in lowercase. Must be a [supported currency](https://stripe.com/docs/currencies).
        amount_details:
          anyOf:
          - $ref: '#/components/schemas/issuing_authorization_amount_details'
          description: Detailed breakdown of amount components. These amounts are denominated in `currency` and in the [smallest currency unit](https://docs.stripe.com/currencies#zero-decimal).
        merchant_currency:
          type: string
          description: The local currency the merchant is requesting to authorize.
        merchant_amount:
          type: integer
          description: The amount the merchant is requesting to be authorized in the `merchant_currency`. The amount is in the [smallest currency unit](https://docs.stripe.com/currencies#zero-decimal).
        amount:
          type: integer
          description: The additional amount Stripe will hold if the authorization is approved, in the card's [currency](https://docs.stripe.com/api#issuing_authorization_object-pending-request-currency) and in the [smallest currency unit](https://docs.stripe.com/currencies#zero-decimal).
        is_amount_controllable:
          type: boolean
          description: If set `true`, you may provide [amount](https://docs.stripe.com/api/issuing/authorizations/approve#approve_issuing_authorization-amount) to control how much to hold for the authorization.
        network_risk_score:
          type: integer
          description: The card network's estimate of the likelihood that an authorization is fraudulent. Takes on values between 1 and 99.
      description: ''
    payment_method_wechat_pay:
      type: object
      properties: {}
      description: ''
    customer_session_resource_components_resource_mobile_payment_element_resource_features:
      type: object
      properties:
        payment_method_save:
          type: string
          description: |-
            Controls whether the mobile payment element displays a checkbox offering to save a new payment method.

            If a customer checks the box, the [`allow_redisplay`](https://docs.stripe.com/api/payment_methods/object#payment_method_object-allow_redisplay) value on the PaymentMethod is set to `'always'` at confirmation time. For PaymentIntents, the [`setup_future_usage`](https://docs.stripe.com/api/payment_intents/object#payment_intent_object-setup_future_usage) value is also set to the value defined in `payment_method_save_usage`.
        payment_method_redisplay:
          type: string
          description: Controls whether or not the mobile payment element shows saved payment methods.
        payment_method_allow_redisplay_filters:
          type: array
          items:
            type: string
          description: |-
            A list of [`allow_redisplay`](https://docs.stripe.com/api/payment_methods/object#payment_method_object-allow_redisplay) values that controls which saved payment methods the mobile payment element displays by filtering to only show payment methods with an `allow_redisplay` value that is present in this list.

            If not specified, defaults to ["always"]. In order to display all saved payment methods, specify ["always", "limited", "unspecified"].
        payment_method_remove:
          type: string
          description: |-
            Controls whether the mobile payment element displays the option to remove a saved payment method."

            Allowing buyers to remove their saved payment methods impacts subscriptions that depend on that payment method. Removing the payment method detaches the [`customer` object](https://docs.stripe.com/api/payment_methods/object#payment_method_object-customer) from that [PaymentMethod](https://docs.stripe.com/api/payment_methods).
        payment_method_save_allow_redisplay_override:
          type: string
          description: |-
            Allows overriding the value of allow_override when saving a new payment method when payment_method_save is set to disabled. Use values: "always", "limited", or "unspecified".

            If not specified, defaults to `nil` (no override value).
      description: This hash contains the features the mobile payment element supports.
    setup_intent_payment_method_options_mandate_options_sepa_debit:
      type: object
      properties:
        reference_prefix:
          type: string
          maxLength: 5000
          description: 'Prefix used to generate the Mandate reference. Must be at most 12 characters long. Must consist of only uppercase letters, numbers, spaces, or the following special characters: ''/'', ''_'', ''-'', ''&'', ''.''. Cannot begin with ''STRIPE''.'
      description: ''
    subscriptions_resource_trial_settings_trial_settings:
      type: object
      required:
      - end_behavior
      properties:
        end_behavior:
          $ref: '#/components/schemas/subscriptions_resource_trial_settings_end_behavior'
      description: Configures how this subscription behaves during the trial period.
    subscriptions_resource_pending_update:
      type: object
      required:
      - expires_at
      properties:
        trial_end:
          type: integer
          description: Unix timestamp representing the end of the trial period the customer will get before being charged for the first time, if the update is applied.
        billing_cycle_anchor:
          type: integer
          description: If the update is applied, determines the date of the first full invoice, and, for plans with `month` or `year` intervals, the day of the month for subsequent invoices. The timestamp is in UTC format.
        subscription_items:
          type: array
          items:
            $ref: '#/components/schemas/subscription_item'
          description: List of subscription items, each with an attached plan, that will be set if the update is applied.
        expires_at:
          type: integer
          description: The point after which the changes reflected by this update will be discarded and no longer applied.
        trial_from_plan:
          type: boolean
          description: Indicates if a plan's `trial_period_days` should be applied to the subscription. Setting `trial_end` per subscription is preferred, and this defaults to `false`. Setting this flag to `true` together with `trial_end` is not allowed. See [Using trial periods on subscriptions](https://docs.stripe.com/billing/subscriptions/trials) to learn more.
      description: |-
        Pending Updates store the changes pending from a previous update that will be applied
        to the Subscription upon successful payment.
    payment_method_options_crypto:
      type: object
      properties:
        setup_future_usage:
          type: string
          description: |-
            Indicates that you intend to make future payments with this PaymentIntent's payment method.

            If you provide a Customer with the PaymentIntent, you can use this parameter to [attach the payment method](/payments/save-during-payment) to the Customer after the PaymentIntent is confirmed and the customer completes any required actions. If you don't provide a Customer, you can still [attach](/api/payment_methods/attach) the payment method to a Customer after the transaction completes.

            If the payment method is `card_present` and isn't a digital wallet, Stripe creates and attaches a [generated_card](/api/charges/object#charge_object-payment_method_details-card_present-generated_card) payment method representing the card to the Customer instead.

            When processing card payments, Stripe uses `setup_future_usage` to help you comply with regional legislation and network rules, such as [SCA](/strong-customer-authentication).
      description: ''
    billing_bill_resource_invoicing_pricing_pricing:
      type: object
      required:
      - type
      properties:
        unit_amount_decimal:
          type: string
          description: The unit amount (in the `currency` specified) of the item which contains a decimal value with at most 12 decimal places.
        price_details:
          $ref: '#/components/schemas/billing_bill_resource_invoicing_pricing_pricing_price_details'
        type:
          type: string
          description: The type of the pricing details.
      description: ''
    tax_code:
      type: object
      required:
      - description
      - id
      - name
      - object
      properties:
        name:
          type: string
          maxLength: 5000
          description: A short name for the tax code.
        object:
          type: string
          description: String representing the object's type. Objects of the same type share the same value.
        description:
          type: string
          maxLength: 5000
          description: A detailed description of which types of products the tax code represents.
        id:
          type: string
          maxLength: 5000
          description: Unique identifier for the object.
      description: '[Tax codes](https://stripe.com/docs/tax/tax-categories) classify goods and services for tax purposes.'
    payment_method_paynow:
      type: object
      properties: {}
      description: ''
    payment_intent_payment_method_options_nz_bank_account:
      type: object
      properties:
        target_date:
          type: string
          maxLength: 5000
          description: Controls when Stripe will attempt to debit the funds from the customer's account. The date must be a string in YYYY-MM-DD format. The date must be in the future and between 3 and 15 calendar days from now.
        setup_future_usage:
          type: string
          description: |-
            Indicates that you intend to make future payments with this PaymentIntent's payment method.

            If you provide a Customer with the PaymentIntent, you can use this parameter to [attach the payment method](/payments/save-during-payment) to the Customer after the PaymentIntent is confirmed and the customer completes any required actions. If you don't provide a Customer, you can still [attach](/api/payment_methods/attach) the payment method to a Customer after the transaction completes.

            If the payment method is `card_present` and isn't a digital wallet, Stripe creates and attaches a [generated_card](/api/charges/object#charge_object-payment_method_details-card_present-generated_card) payment method representing the card to the Customer instead.

            When processing card payments, Stripe uses `setup_future_usage` to help you comply with regional legislation and network rules, such as [SCA](/strong-customer-authentication).
      description: ''
    payment_intent_amount_details_line_item:
      type: object
      required:
      - id
      - object
      - product_name
      - quantity
      - unit_cost
      properties:
        quantity:
          type: integer
          description: The quantity of items. Required for L3 rates. An integer greater than 0.
        unit_of_measure:
          type: string
          maxLength: 5000
          description: A unit of measure for the line item, such as gallons, feet, meters, etc. Required for L3 rates. At most 12 alphanumeric characters long.
        payment_method_options:
          anyOf:
          - $ref: '#/components/schemas/payment_flows_amount_details_resource_line_items_list_resource_line_item_resource_payment_method_options'
          description: Payment method-specific information for line items.
        tax:
          anyOf:
          - $ref: '#/components/schemas/payment_flows_amount_details_resource_line_items_list_resource_line_item_resource_tax'
          description: Contains information about the tax on the item.
        discount_amount:
          type: integer
          description: |-
            The discount applied on this line item represented in the [smallest currency unit](https://docs.stripe.com/currencies#zero-decimal). An integer greater than 0.

            This field is mutually exclusive with the `amount_details[discount_amount]` field.
        product_name:
          type: string
          maxLength: 5000
          description: |-
            The product name of the line item. Required for L3 rates. At most 1024 characters long.

            For Cards, this field is truncated to 26 alphanumeric characters before being sent to the card networks. For PayPal, this field is truncated to 127 characters.
        object:
          type: string
          description: String representing the object's type. Objects of the same type share the same value.
        unit_cost:
          type: integer
          description: The unit cost of the line item represented in the [smallest currency unit](https://docs.stripe.com/currencies#zero-decimal). Required for L3 rates. An integer greater than or equal to 0.
        id:
          type: string
          maxLength: 5000
          description: Unique identifier for the object.
        product_code:
          type: string
          maxLength: 5000
          description: The product code of the line item, such as an SKU. Required for L3 rates. At most 12 characters long.
      description: ''
    refund_destination_details_p24:
      type: object
      properties:
        reference:
          type: string
          maxLength: 5000
          description: The reference assigned to the refund.
        reference_status:
          type: string
          maxLength: 5000
          description: Status of the reference on the refund. This can be `pending`, `available` or `unavailable`.
      description: ''
    payment_method_details_boleto:
      type: object
      required:
      - tax_id
      properties:
        tax_id:
          type: string
          maxLength: 5000
          description: The tax ID of the customer (CPF for individuals consumers or CNPJ for businesses consumers)
      description: ''
    payment_method_options_twint:
      type: object
      properties:
        setup_future_usage:
          type: string
          description: |-
            Indicates that you intend to make future payments with this PaymentIntent's payment method.

            If you provide a Customer with the PaymentIntent, you can use this parameter to [attach the payment method](/payments/save-during-payment) to the Customer after the PaymentIntent is confirmed and the customer completes any required actions. If you don't provide a Customer, you can still [attach](/api/payment_methods/attach) the payment method to a Customer after the transaction completes.

            If the payment method is `card_present` and isn't a digital wallet, Stripe creates and attaches a [generated_card](/api/charges/object#charge_object-payment_method_details-card_present-generated_card) payment method representing the card to the Customer instead.

            When processing card payments, Stripe uses `setup_future_usage` to help you comply with regional legislation and network rules, such as [SCA](/strong-customer-authentication).
      description: ''
    price:
      type: object
      required:
      - active
      - billing_scheme
      - created
      - currency
      - id
      - livemode
      - metadata
      - object
      - product
      - type
      properties:
        recurring:
          anyOf:
          - $ref: '#/components/schemas/recurring'
          description: The recurring components of a price such as `interval` and `usage_type`.
        currency_options:
          type: object
          description: Prices defined in each available currency option. Each key must be a three-letter [ISO currency code](https://www.iso.org/iso-4217-currency-codes.html) and a [supported currency](https://stripe.com/docs/currencies).
        billing_scheme:
          type: string
          description: Describes how to compute the price per period. Either `per_unit` or `tiered`. `per_unit` indicates that the fixed amount (specified in `unit_amount` or `unit_amount_decimal`) will be charged per unit in `quantity` (for prices with `usage_type=licensed`), or per unit of total usage (for prices with `usage_type=metered`). `tiered` indicates that the unit pricing will be computed using a tiering strategy as defined using the `tiers` and `tiers_mode` attributes.
        tax_behavior:
          type: string
          description: Only required if a [default tax behavior](https://docs.stripe.com/tax/products-prices-tax-categories-tax-behavior#setting-a-default-tax-behavior-(recommended)) was not provided in the Stripe Tax settings. Specifies whether the price is considered inclusive of taxes or exclusive of taxes. One of `inclusive`, `exclusive`, or `unspecified`. Once specified as either `inclusive` or `exclusive`, it cannot be changed.
        metadata:
          type: object
          description: Set of [key-value pairs](https://docs.stripe.com/api/metadata) that you can attach to an object. This can be useful for storing additional information about the object in a structured format.
        transform_quantity:
          anyOf:
          - $ref: '#/components/schemas/transform_quantity'
          description: Apply a transformation to the reported usage or set quantity before computing the amount billed. Cannot be combined with `tiers`.
        object:
          type: string
          description: String representing the object's type. Objects of the same type share the same value.
        nickname:
          type: string
          maxLength: 5000
          description: A brief description of the price, hidden from customers.
        type:
          type: string
          description: One of `one_time` or `recurring` depending on whether the price is for a one-time purchase or a recurring (subscription) purchase.
        unit_amount:
          type: integer
          description: The unit amount in cents (or local equivalent) to be charged, represented as a whole integer if possible. Only set if `billing_scheme=per_unit`.
        livemode:
          type: boolean
          description: If the object exists in live mode, the value is `true`. If the object exists in test mode, the value is `false`.
        unit_amount_decimal:
          type: string
          description: The unit amount in cents (or local equivalent) to be charged, represented as a decimal string with at most 12 decimal places. Only set if `billing_scheme=per_unit`.
        custom_unit_amount:
          anyOf:
          - $ref: '#/components/schemas/custom_unit_amount'
          description: When set, provides configuration for the amount to be adjusted by the customer during Checkout Sessions and Payment Links.
        id:
          type: string
          maxLength: 5000
          description: Unique identifier for the object.
        lookup_key:
          type: string
          maxLength: 5000
          description: A lookup key used to retrieve prices dynamically from a static string. This may be up to 200 characters.
        tiers:
          type: array
          items:
            $ref: '#/components/schemas/price_tier'
          description: Each element represents a pricing tier. This parameter requires `billing_scheme` to be set to `tiered`. See also the documentation for `billing_scheme`.
        currency:
          type: string
          description: Three-letter [ISO currency code](https://www.iso.org/iso-4217-currency-codes.html), in lowercase. Must be a [supported currency](https://stripe.com/docs/currencies).
        product:
          anyOf:
          - type: string
            maxLength: 5000
          - $ref: '#/components/schemas/product'
          - $ref: '#/components/schemas/deleted_product'
          description: The ID of the product this price is associated with.
        active:
          type: boolean
          description: Whether the price can be used for new purchases.
        tiers_mode:
          type: string
          description: Defines if the tiering price should be `graduated` or `volume` based. In `volume`-based tiering, the maximum quantity within a period determines the per unit price. In `graduated` tiering, pricing can change as the quantity grows.
        created:
          type: integer
          description: Time at which the object was created. Measured in seconds since the Unix epoch.
      description: |-
        Prices define the unit cost, currency, and (optional) billing cycle for both recurring and one-time purchases of products.
        [Products](https://api.stripe.com#products) help you track inventory or provisioning, and prices help you track payment terms. Different physical goods or levels of service should be represented by products, and pricing options should be represented by prices. This approach lets you change prices without having to change your provisioning scheme.

        For example, you might have a single "gold" product that has prices for $10/month, $100/year, and €9 once.

        Related guides: [Set up a subscription](https://docs.stripe.com/billing/subscriptions/set-up-subscription), [create an invoice](https://docs.stripe.com/billing/invoices/create), and more about [products and prices](https://docs.stripe.com/products-prices/overview).
    account_requirements_error:
      type: object
      required:
      - code
      - reason
      - requirement
      properties:
        reason:
          type: string
          maxLength: 5000
          description: An informative message that indicates the error type and provides additional details about the error.
        requirement:
          type: string
          maxLength: 5000
          description: The specific user onboarding requirement field (in the requirements hash) that needs to be resolved.
        code:
          type: string
          description: The code for the type of error.
      description: ''
    payment_method_mb_way:
      type: object
      properties: {}
      description: ''
    billing_credit_grants_resource_balance_credits_applied:
      type: object
      required:
      - invoice
      - invoice_line_item
      properties:
        invoice:
          anyOf:
          - type: string
            maxLength: 5000
          - $ref: '#/components/schemas/invoice'
          description: The invoice to which the billing credits were applied.
        invoice_line_item:
          type: string
          maxLength: 5000
          description: The invoice line item to which the billing credits were applied.
      description: ''
    issuing_transaction_treasury:
      type: object
      properties:
        received_debit:
          type: string
          maxLength: 5000
          description: The Treasury [ReceivedDebit](https://docs.stripe.com/api/treasury/received_debits) representing this Issuing transaction if it is a capture
        received_credit:
          type: string
          maxLength: 5000
          description: The Treasury [ReceivedCredit](https://docs.stripe.com/api/treasury/received_credits) representing this Issuing transaction if it is a refund
      description: ''
    source_type_ach_credit_transfer:
      type: object
      properties:
        routing_number:
          type: string
        refund_account_holder_type:
          type: string
        refund_routing_number:
          type: string
        fingerprint:
          type: string
        swift_code:
          type: string
        refund_account_holder_name:
          type: string
        account_number:
          type: string
        bank_name:
          type: string
    deleted_bank_account:
      type: object
      required:
      - deleted
      - id
      - object
      properties:
        deleted:
          type: boolean
          description: Always true for a deleted object
        id:
          type: string
          maxLength: 5000
          description: Unique identifier for the object.
        object:
          type: string
          description: String representing the object's type. Objects of the same type share the same value.
        currency:
          type: string
          maxLength: 5000
          description: Three-letter [ISO code for the currency](https://stripe.com/docs/payouts) paid out to the bank account.
      description: ''
    payment_method_details_mb_way:
      type: object
      properties: {}
      description: ''
    setup_intent_payment_method_options_upi:
      type: object
      properties:
        mandate_options:
          $ref: '#/components/schemas/payment_method_options_mandate_options_upi'
      description: ''
    refund_destination_details_eu_bank_transfer:
      type: object
      properties:
        reference_status:
          type: string
          maxLength: 5000
          description: Status of the reference on the refund. This can be `pending`, `available` or `unavailable`.
        reference:
          type: string
          maxLength: 5000
          description: The reference assigned to the refund.
      description: ''
    mandate_cashapp:
      type: object
      properties: {}
      description: ''
    issuing_dispute_fraudulent_evidence:
      type: object
      properties:
        explanation:
          type: string
          maxLength: 5000
          description: Explanation of why the cardholder is disputing this transaction.
        additional_documentation:
          anyOf:
          - type: string
            maxLength: 5000
          - $ref: '#/components/schemas/file'
          description: (ID of a [file upload](https://stripe.com/docs/guides/file-upload)) Additional documentation supporting the dispute.
      description: ''
    mandate:
      type: object
      required:
      - customer_acceptance
      - id
      - livemode
      - object
      - payment_method
      - payment_method_details
      - status
      - type
      properties:
        type:
          type: string
          description: The type of the mandate.
        on_behalf_of:
          type: string
          maxLength: 5000
          description: The account (if any) that the mandate is intended for.
        livemode:
          type: boolean
          description: If the object exists in live mode, the value is `true`. If the object exists in test mode, the value is `false`.
        multi_use:
          $ref: '#/components/schemas/mandate_multi_use'
        customer_acceptance:
          $ref: '#/components/schemas/customer_acceptance'
        object:
          type: string
          description: String representing the object's type. Objects of the same type share the same value.
        payment_method:
          anyOf:
          - type: string
            maxLength: 5000
          - $ref: '#/components/schemas/payment_method'
          description: ID of the payment method associated with this mandate.
        single_use:
          $ref: '#/components/schemas/mandate_single_use'
        payment_method_details:
          $ref: '#/components/schemas/mandate_payment_method_details'
        status:
          type: string
          description: The mandate status indicates whether or not you can use it to initiate a payment.
        id:
          type: string
          maxLength: 5000
          description: Unique identifier for the object.
      description: A Mandate is a record of the permission that your customer gives you to debit their payment method.
    account_group_membership:
      type: object
      properties:
        payments_pricing:
          type: string
          maxLength: 5000
          description: The group the account is in to determine their payments pricing, and null if the account is on customized pricing. [See the Platform pricing tool documentation](https://docs.stripe.com/connect/platform-pricing-tools) for details.
      description: ''
    payment_method_options_oxxo:
      type: object
      required:
      - expires_after_days
      properties:
        setup_future_usage:
          type: string
          description: |-
            Indicates that you intend to make future payments with this PaymentIntent's payment method.

            If you provide a Customer with the PaymentIntent, you can use this parameter to [attach the payment method](/payments/save-during-payment) to the Customer after the PaymentIntent is confirmed and the customer completes any required actions. If you don't provide a Customer, you can still [attach](/api/payment_methods/attach) the payment method to a Customer after the transaction completes.

            If the payment method is `card_present` and isn't a digital wallet, Stripe creates and attaches a [generated_card](/api/charges/object#charge_object-payment_method_details-card_present-generated_card) payment method representing the card to the Customer instead.

            When processing card payments, Stripe uses `setup_future_usage` to help you comply with regional legislation and network rules, such as [SCA](/strong-customer-authentication).
        expires_after_days:
          type: integer
          description: The number of calendar days before an OXXO invoice expires. For example, if you create an OXXO invoice on Monday and you set expires_after_days to 2, the OXXO invoice will expire on Wednesday at 23:59 America/Mexico_City time.
      description: ''
    payment_method_paypal:
      type: object
      properties:
        country:
          type: string
          maxLength: 5000
          description: Two-letter ISO code representing the buyer's country. Values are provided by PayPal directly (if supported) at the time of authorization or settlement. They cannot be set or mutated.
        payer_email:
          type: string
          maxLength: 5000
          description: |-
            Owner's email. Values are provided by PayPal directly
            (if supported) at the time of authorization or settlement. They cannot be set or mutated.
        payer_id:
          type: string
          maxLength: 5000
          description: PayPal account PayerID. This identifier uniquely identifies the PayPal customer.
      description: ''
    payment_method_options_us_bank_account_mandate_options:
      type: object
      properties:
        collection_method:
          type: string
          description: Mandate collection method
      description: ''
    payment_method_details_payment_record_pix:
      type: object
      properties:
        bank_transaction_id:
          type: string
          maxLength: 5000
          description: Unique transaction id generated by BCB
      description: ''
    payment_method_options_upi:
      type: object
      properties:
        setup_future_usage:
          type: string
          description: |-
            Indicates that you intend to make future payments with this PaymentIntent's payment method.

            If you provide a Customer with the PaymentIntent, you can use this parameter to [attach the payment method](/payments/save-during-payment) to the Customer after the PaymentIntent is confirmed and the customer completes any required actions. If you don't provide a Customer, you can still [attach](/api/payment_methods/attach) the payment method to a Customer after the transaction completes.

            If the payment method is `card_present` and isn't a digital wallet, Stripe creates and attaches a [generated_card](/api/charges/object#charge_object-payment_method_details-card_present-generated_card) payment method representing the card to the Customer instead.

            When processing card payments, Stripe uses `setup_future_usage` to help you comply with regional legislation and network rules, such as [SCA](/strong-customer-authentication).
      description: ''
    line_items_tax_amount:
      type: object
      required:
      - amount
      - rate
      properties:
        rate:
          $ref: '#/components/schemas/tax_rate'
        amount:
          type: integer
          description: Amount of tax applied for this rate.
        taxable_amount:
          type: integer
          description: The amount on which tax is calculated, in cents (or local equivalent).
        taxability_reason:
          type: string
          description: The reasoning behind this tax, for example, if the product is tax exempt. The possible values for this field may be extended as new tax rules are supported.
      description: ''
    subscription_schedules_resource_invoice_item_period_resource_period_end:
      type: object
      required:
      - type
      properties:
        type:
          type: string
          description: Select how to calculate the end of the invoice item period.
        timestamp:
          type: integer
          description: A precise Unix timestamp for the end of the invoice item period. Must be greater than or equal to `period.start`.
      description: ''
    cancellation_details:
      type: object
      properties:
        comment:
          type: string
          maxLength: 5000
          description: Additional comments about why the user canceled the subscription, if the subscription was canceled explicitly by the user.
        feedback:
          type: string
          description: The customer submitted reason for why they canceled, if the subscription was canceled explicitly by the user.
        reason:
          type: string
          description: Why this subscription was canceled.
      description: ''
    internal_card:
      type: object
      properties:
        country:
          type: string
          maxLength: 5000
          description: Two-letter ISO code representing the country of the card
        brand:
          type: string
          maxLength: 5000
          description: Brand of the card used in the transaction
        exp_month:
          type: integer
          description: Two digit number representing the card's expiration month
        exp_year:
          type: integer
          description: Two digit number representing the card's expiration year
        last4:
          type: string
          maxLength: 5000
          description: The last 4 digits of the card
      description: ''
    payment_method_details_grabpay:
      type: object
      properties:
        transaction_id:
          type: string
          maxLength: 5000
          description: Unique transaction id generated by GrabPay
      description: ''
    refund_destination_details_paypal:
      type: object
      properties:
        network_decline_code:
          type: string
          maxLength: 5000
          description: For refunds declined by the network, a decline code provided by the network which indicates the reason the refund failed.
      description: ''
    setup_intent_payment_method_options_card_mandate_options:
      type: object
      required:
      - amount
      - amount_type
      - currency
      - interval
      - reference
      - start_date
      properties:
        interval_count:
          type: integer
          description: The number of intervals between payments. For example, `interval=month` and `interval_count=3` indicates one payment every three months. Maximum of one year interval allowed (1 year, 12 months, or 52 weeks). This parameter is optional when `interval=sporadic`.
        currency:
          type: string
          description: Three-letter [ISO currency code](https://www.iso.org/iso-4217-currency-codes.html), in lowercase. Must be a [supported currency](https://stripe.com/docs/currencies).
        start_date:
          type: integer
          description: Start date of the mandate or subscription. Start date should not be lesser than yesterday.
        supported_types:
          type: array
          items:
            type: string
          description: Specifies the type of mandates supported. Possible values are `india`.
        description:
          type: string
          maxLength: 200
          description: A description of the mandate or subscription that is meant to be displayed to the customer.
        amount_type:
          type: string
          description: One of `fixed` or `maximum`. If `fixed`, the `amount` param refers to the exact amount to be charged in future payments. If `maximum`, the amount charged can be up to the value passed for the `amount` param.
        end_date:
          type: integer
          description: End date of the mandate or subscription. If not provided, the mandate will be active until canceled. If provided, end date should be after start date.
        interval:
          type: string
          description: Specifies payment frequency. One of `day`, `week`, `month`, `year`, or `sporadic`.
        reference:
          type: string
          maxLength: 80
          description: Unique identifier for the mandate or subscription.
        amount:
          type: integer
          description: Amount to be charged for future payments, specified in the presentment currency.
      description: ''
    payment_method_details_swish:
      type: object
      properties:
        fingerprint:
          type: string
          maxLength: 5000
          description: Uniquely identifies the payer's Swish account. You can use this attribute to check whether two Swish transactions were paid for by the same payer
        payment_reference:
          type: string
          maxLength: 5000
          description: Payer bank reference number for the payment
        verified_phone_last4:
          type: string
          maxLength: 5000
          description: The last four digits of the Swish account phone number
      description: ''
    payment_method_card_wallet_google_pay:
      type: object
      properties: {}
      description: ''
    payment_intent_payment_method_options_link:
      type: object
      properties:
        capture_method:
          type: string
          description: Controls when the funds will be captured from the customer's account.
        setup_future_usage:
          type: string
          description: |-
            Indicates that you intend to make future payments with this PaymentIntent's payment method.

            If you provide a Customer with the PaymentIntent, you can use this parameter to [attach the payment method](/payments/save-during-payment) to the Customer after the PaymentIntent is confirmed and the customer completes any required actions. If you don't provide a Customer, you can still [attach](/api/payment_methods/attach) the payment method to a Customer after the transaction completes.

[...]
